main{
  display:flex; 
  flex-direction: row;
}

.flower img{
  width:500px;
  height: 600px;
  width: 80%;
  margin-left: 50px;
  margin-top: 50px;
}

.homePageLink{
  color:blueviolet;
  text-align: center;
}

.guestBookHeading{
  color:orange;
  text-align: center;
}

.heading{
  color:orange;
  text-align: right;
  margin-right: 200px;
}

.comments{
  font-size: 20px;
  margin-top:10px;
}

.list_of_flowers{
  margin-top: 50px;
  width:25%;
}

.watering_jar{
  margin-top:400px;
  padding-right:175px;
}

.submitButton{
  background-color:rgb(223, 217, 217);
  margin-top:10px;
}

th,td{
  text-align: left;
  font-size: 20px;
  border: 1px solid black;
  font-family: sans-serif;
  padding-left: 95px;
  padding-right: 95px;
}